<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>PharmaPlus Book Now</title>

    <link rel="shortcut icon" href="assets/images/common/fav.png" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/fontawsom-all.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />

  </head>

  <body>
    <!-- ################# Header #######################--->
    <header>
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 left-item">
              <ul>
                <li><i class="fas fa-mobile"></i> <span>+ 123 456 789 </span></li>
                <li>
                  <i class="fas fa-envelope"></i> pharmaplus@gmail.com
                </li>
              </ul>
            </div>
            <div class="col-lg-5 d-none d-lg-block right-item">
              <ul>
                <li>
                  <h5>Working Days:</h5>
                </li>

                <li><p>Monday To Saturday</p></li>

                <li>Sunday Closed</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="nav-head" class="header-nav">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
              <img src="assets/images/common/logo.png" alt="logo" />
              <a data-toggle="collapse" data-target="#menu" href="#menu"
                ><i class="fas d-block d-md-none small-menu fa-bars"></i
              ></a>
            </div>
            <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
              <ul>
                <li><a href="indexl.html">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Services</a></li>
                <li><a href="b.html">Book Lab test</a></li>
                <li><a href="">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-sm-2 d-none d-lg-block appoint">
              <button class="btn btn-danger"><a href="index.html"  class="dj"> Logout</a></button>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!--  ************************* Start page ************************** -->
    <div class="page-nav no-margin row">
      <div class="container">
        <div class="row">
          <h2>Book Now</h2>
          <ul>
            <li>
              <a href="#"><i class="fas fa-home"></i> Home</a>
            </li>
            <li><i class="fas fa-angle-double-right"></i>Book Now</li>
          </ul>
        </div>
      </div>
    </div>
<br>
<br>
    

    <!-- ################# Appointment #######################--->

<section class="appoinment section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
          <div class="mt-3">
            <div class="feature-icon mb-3">
              <i class="icofont-support text-lg"></i>
            </div>
             <span class="h3"><h4>Call for an Emergency Service!</h4></span>
              <h2 class="text-color mt-3"> <h4>+ 123 456 789 </h4></h2>
          </div>
      </div>

      <div class="col-lg-8">
           <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
            <h2 class="mb-2 title-color">Book an lab test</h2>
            <p class="mb-4">Easily schedule and access a wide range of lab tests through our user-friendly platform, ensuring convenience and prompt results for your peace of mind.</p>
               <form id="#" class="appoinment-form" method="post" th:action="@{/booknow}"role="form"
               th:object="${patient}"
               >
                    <div class="row">
                         <div class="col-lg-6">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1" th:field="*{selectedLabTest}" required>
                                    <option value="">Choose Lab Test</option>
                                    <option th:each="labTest : ${labTestList}" th:value="${labTest}" th:text="${labTest}"></option>
                                    <option value="Complete Blood Count (CBC)">Complete Blood Count (CBC)</option>
                                    <option value="Blood Chemistry Panel">Blood Chemistry Panel</option>
                                    <option value="Vitamin B12">Vitamin B12</option>
                                    <option value="Lipid Profile">Lipid Profile</option>
                                    <option value="Thyroid Function Tests">Thyroid Function Tests</option>
                                    <option value="Vitamin D">Vitamin D</option>
                                    <option value="Liver Function Tests">Liver Function Tests</option>
                                    <option value="Hemoglobin A1c (HbA1c)">Hemoglobin A1c (HbA1c)</option>
                                    <option value="Cancer Marker Tests">Cancer Marker Tests</option>
                                    <option value="Urinalysis">Urinalysis</option>
                                    <option value="Stool Tests">Stool Tests</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect2" th:field="*{selectedDoctor}" required>
                                    <option value="" >Select Doctors</option>
                                    <option th:value="'Dr. Neha Patel'">Dr. Neha Patel</option>
                                    <option th:value="'Dr. Manoj Reddy'">Dr. Manoj Reddy</option>
                                    <option th:value="'Dr. Sneha Sharma'">Dr. Sneha Sharma</option>
                                    <option th:value="'Dr. Priya Desai'">Dr. Priya Desai</option>
                                    <option th:value="'Dr. Aishwarya Menon'">Dr. Aishwarya Menon</option>
                                    <option th:value="'Dr. Vikram Malhotra'">Dr. Vikram Malhotra</option>
                                </select>
                            </div>
                        </div>

                         <div class="col-lg-6">
                            <div class="form-group">
                                <input th:field="*{fname}" name="name" id="name" type="text" class="form-control" placeholder="Full Name" required>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input th:field="*{phone}" name="phone" id="phone" type="number" class="form-control" placeholder="Phone Number" required>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                          <label for="datetime">Date and Time:</label>
                          <input th:field="*{test_datetime}" name="datetime" id="datetime" type="datetime-local" class="form-control" required>
                      </div>
                  </div>
                    
                    <div class="col-lg-6">
             		      <div class="form-group">
							        <h6>Upload Prescription Image: </h6>
                      <input th:field="*{img}" name="prescriptionImage"id="image" class="form-control" type="file" accept="image/*" required/>
							        </div>
							      </div>

                    <br>
                    
                  <div class="col-lg-12">  
                    <button id="submitBtn" type="submit" class="btn btn-success btn-round-full">Book Lab test</button>
                  </div>
                
                  </form>

            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<br>

    <!-- ################# Footer #######################--->

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <h2>Opening Hours</h2>
            <br />
            <ul>
              <li><h6>Sunday : Closed</h6></li>
              <br />
              <li>
                <h6>Monday to Friday : 8:00 AM - 3:30 PM</span></h6>
              </li>
              <br />
              <li><h6>Saturday : 10:30 AM - 5:30 PM</span></h6></li>
              <br />
            </ul>
          </div>
          <div class="col-md-4 col-sm-12">
            <h2>Our Labs and Clinic</h2>
            <ul class="list-unstyled link-list">
              <li>
                <a ui-sref="about" href="about_us.html">About us</a
                ><i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a ui-sref="service" href="services.html">Services</a
                ><i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a ui-sref="appoint" href="appoint.html">Book Lab test</a
                ><i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a ui-sref="contact" href="contact_us.html">Contact us</a
                ><i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a ui-sref="hire" href="contact_us.html">We are Hiring</a
                ><i class="fa fa-angle-right"></i>
              </li>
              <br>
            </ul>

          </div>
          <div class="col-md-4 col-sm-12 map-img">
            <h2>Contact Us</h2>
            <br>
            <ul>
              <li><h5>Pharma Plus</h5></li>
              <br>
              <li>Mumbai</li>
              
              <li>Maharashtra</li>
                        
              <li> Phone: + 123 456 789  </li>          
              
              <li>Email: pharmaplus@gmail.com</li>
              <br>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <div class="copy">
      <div class="container">
        
        <a>2023 &copy; All Rights Reserved Anish Joshi</a>

        <span>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-instagram"></i></a>
          <a><i class="fab fa-youtube"></i></a>
          <a><i class="fab fa-facebook-f"></i></a>
          <a><i class="fab fa-linkedin"></i></a>
        </span>
      </div>
    </div>
  </body>

 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="assets/js/script.js"></script>
</html>
