<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>PharmaPlus</title>

    <link rel="shortcut icon" href="assets/images/common/fav.png" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/fontawsom-all.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>

  <body>
    <!-- ################# Header  #######################--->

    <header>
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 left-item">
              <ul>

                <li><i class="fas fa-mobile"></i> <span>+ 123 456 789 </span></li>
                <li>
                  <i class="fas fa-envelope"></i> pharmaplus@gmail.com
                </li>
                
              </ul>
            </div>
            <div class="col-lg-5 d-none d-lg-block right-item">
              <ul>
                <li>
                  <h5>Working Days:</h5>
                </li>

                <li><p>Monday To Saturday</p></li>

                <li>Sunday Closed</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="nav-head" class="header-nav">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
              <img src="assets/images/common/logo.png" alt="logo" />
              <a data-toggle="collapse" data-target="#menu" href="#menu"
                ><i class="fas d-block d-md-none small-menu fa-bars"></i
              ></a>
            </div>
            <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
              <ul>
                <li><a href="indexl.html">Home</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Services</a></li>
                <li> <a href="tablets.html">Medicines</a></li>
                <li><a href="/booknow">Book Lab test</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </div>
            <div class="col-sm-2 d-none d-lg-block appoint">
              <button class="btn btn-danger"><a href="index.html"  class="dj"> Logout</a></button>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- ################# Slider #######################--->

    <div class="slider-detail">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="assets/images/slider/slider1.jpg"
              alt="First slide"
            />
            <div class="carousel-caption fvgb d-none d-md-block">
              <h5 class="animated bounceInDown">Pharma Plus</h5>
              <p class="animated bounceInLeft">
                At Pharma Plus, access a diverse range of healthcare services: <br>
                from booking doctor consultations to ordering prescription medications, 
                all at your fingertips
              </p>

              <div class="row vbh">
                <div class="btn btn-success animated bounceInUp">
                  Book Lab Test
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item active">
            <img
              class="d-block w-100"
              src="assets/images/slider/slider2.jpg"
              alt="Second slide"
            />
            <div class="carousel-caption vdg-cur d-none d-md-block">
              <h5 class="animated bounceInDown">Pharma Plus</h5>
              <p class="animated bounceInLeft">
                Unlock a world of health possibilities with PharmaPlus, <br>
                where quality meets accessibility for all your medical and pharmaceutical requirements.
              </p>

              <div class="row vbh">
                <div class="btn btn-success animated bounceInUp">
                  Book Lab Test
                </div>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <br>
    <br>
    <!-- ################# Key Features of Pharmaplus #######################--->

    <section class="key-features">
      <div class="row no-margin">
        <div class="col-lg-3 kvxol col-md-6">
          <div class="single-key ky-1">
            <i class="fas fa-hospital-alt"></i>
            <h5>New Technology</h5>
            <br>
            <p>
              Explore the future of medicine with PharmaPlus's innovative tech, enhancing accessibility and precision in healthcare
            </p>
          </div>
        </div>

        <div class="col-lg-3 kvxol col-md-6">
          <div class="single-key ky-2">
            <i class="fas fa-user-md"></i>
            <h5>Skilled & Experienced Doctors</h5>
            <br>
            <p>
              Our experienced doctors at PharmaPlus bring expertise and compassion to your care
          </div>
        </div>

        <div class="col-lg-3 kvxol col-md-6">
          <div class="single-key ky-1">
            <i class="fas fa-briefcase-medical"></i>
            <h5>Outstanding customer approval</h5>
            <br>
            <p>
              Satisfaction guaranteed at PharmaPlus - your health, our commitment
            </p>
          </div>
        </div>

        <div class="col-lg-3 kvxol col-md-6">
          <div class="single-key ky-2">
            <i class="fas fa-capsules"></i>
            <h5>Therapeutic pathway</h5>
            <br>
            <p>
              From diagnosis to treatment, PharmaPlus maps out a comprehensive therapeutic route for optimal care.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- ################# About us #######################--->

    <section class="with-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 txtr">
            <h4>
              Why to choose Pharma Plus
            </h4>
            <br>
            <p>
              <h5>
              Pharma Plus is a leading healthcare company providing convenient access to medicines and lab tests. 
              Our platform simplifies the process of ordering medications and conducting tests, ensuring reliable 
              and timely healthcare solutions for our customers.
              </h5>
            </p>

            <p>
              <h5>
              At Pharma Plus, we merge convenience with healthcare by offering an integrated platform for ordering medications and accessing lab tests. 
              Our aim is to deliver quality healthcare services while prioritizing ease and accessibility for our customers.
              </h5>
            </p>
          </div>
          <div class="col-lg-6 col-md-12">
            <img src="assets/images/common/about.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>

    <!-- ################# Our key Features of Pharma plus Team #######################--->

    <section class="key-features department">
      <div class="container">
        <div class="inner-title">
          <h2>Our Key Features</h2>
          <p>Take a look at some of our key features</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single-key">
              <i class="fas fa-heartbeat"></i>
              <h5>Cardiology</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Duis id turpis nec tortor consequat lobortis. Morbi hendrerit dapibus.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single-key">
              <i class="fas fa-ribbon"></i>
              <h5>Orthopaedic</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Duis id turpis nec tortor consequat lobortis. Morbi hendrerit dapibus.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single-key">
              <i class="fab fa-monero"></i>
              <h5>Neurologist</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Duis id turpis nec tortor consequat lobortis. Morbi hendrerit dapibus.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single-key">
              <i class="fas fa-capsules"></i>
              <h5>Pharma Pipeline</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Duis id turpis nec tortor consequat lobortis. Morbi hendrerit dapibus.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single-key">
              <i class="fas fa-prescription-bottle-alt"></i>
              <h5>Pharma Team</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Duis id turpis nec tortor consequat lobortis. Morbi hendrerit dapibus.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single-key">
              <i class="far fa-thumbs-up"></i>
              <h5>High Quality treatments</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Duis id turpis nec tortor consequat lobortis. Morbi hendrerit dapibus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="vm">
        <button class="more">View More</button>
      </div>
    </section>
<br>
<br>
    <!-- ################# Book Now  #######################--->

    <section class="appoinment section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
          <div class="mt-3">
            <div class="feature-icon mb-3">
              <i class="icofont-support text-lg"></i>
            </div>
             <span class="h3"><h4>Call for an Emergency Service!</h4></span>
              <h2 class="text-color mt-3"> <h4>+ 123 456 789 </h4></h2>
          </div>
      </div>

      <div class="col-lg-8">
           <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
            <h2 class="mb-2 title-color">Book an lab test</h2>
            <p class="mb-4">Easily schedule and access a wide range of lab tests through our user-friendly platform, ensuring convenience and prompt results for your peace of mind.</p>
               <form id="#" class="appoinment-form" method="post" action="#">
                    <div class="row">
                         <div class="col-lg-6">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>Choose Lab Test</option>
                                  <option>Complete Blood Count (CBC)</option>
                                  <option>Blood Chemistry Panel</option>
                                  <option>Vitamin B12</option>
                                  <option>Lipid Profile</option>
                                  <option>Thyroid Function Tests:</option>
                                  <option>Vitamin D</option>
                                  <option>Liver Function Tests</option>
                                  <option>Hemoglobin A1c (HbA1c)</option>
                                  <option>Cancer Marker Tests</option>
                                  <option>Urinalysis</option>
                                  <option>Stool Tests</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect2">
                                  <option>Select Doctors</option>
                                  <option>Dr. Neha Patel</option>
                                  <option>Dr. Manoj Reddy</option>
                                  <option>Dr. Sneha Sharma</option>
                                  <option>Dr. Priya Desai</option>
                                  <option>Dr. Aishwarya Menon</option>
                                  <option>Dr. Vikram Malhotra</option>
                                </select>
                            </div>
                        </div>

                         <div class="col-lg-6">
                            <div class="form-group">
                                <input name="date" id="date" type="text" class="form-control" placeholder="dd/mm/yyyy">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="time" id="time" type="text" class="form-control" placeholder="Time">
                            </div>
                        </div>
                         <div class="col-lg-6">
                            <div class="form-group">
                                <input name="name" id="name" type="text" class="form-control" placeholder="Full Name">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="phone" id="phone" type="Number" class="form-control" placeholder="Phone Number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group-2 mb-4">
                        <textarea name="message" id="message" class="form-control" rows="2" placeholder="Your Message"></textarea>
                    </div>

                    <div class="col-lg-6 ">
             		      <div class="form-group">
							        <h5>Upload Prescription Image: </h5>
                      <input name="prescriptionImage"id="image" class="form-control" type="file" accept="image/*" />
							        </div>
							      </div>

                    <a class="btn btn-success btn-round-full" href="">Book an Lab test<i class="icofont-simple-right ml-2"></i></a>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
    <!-- ################# Footer #######################--->

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <h2>Opening Hours</h2>
            <br />
            <ul>
              <li><h6>Sunday : Closed</h6></li>
              <br />
              <li>
                <h6>Monday to Friday : 8:00 AM - 3:30 PM</span></h6>
              </li>
              <br />
              <li><h6>Saturday : 10:30 AM - 5:30 PM</span></h6></li>
              <br />
            </ul>
          </div>
          <div class="col-md-4 col-sm-12">
            <h2>Our Labs and Clinic</h2>
            <ul class="list-unstyled link-list">
              <li>
                <a ui-sref="about" href="about_us.html">About us</a
                ><i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a ui-sref="service" href="services.html">Services</a
                ><i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a ui-sref="appoint" href="appoint.html">Book Lab test</a
                ><i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a ui-sref="contact" href="contact_us.html">Contact us</a
                ><i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a ui-sref="hire" href="contact_us.html">We are Hiring</a
                ><i class="fa fa-angle-right"></i>
              </li>
              <br>
            </ul>

          </div>
          <div class="col-md-4 col-sm-12 map-img">
            <h2>Contact Us</h2>
            <br>
            <ul>
              <li><h5>Pharma Plus</h5></li>
              <br>
              <li>Mumbai</li>
              
              <li>Maharashtra</li>
                        
              <li> Phone: + 123 456 789  </li>          
              
              <li>Email: pharmaplus@gmail.com</li>
              <br>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <div class="copy">
      <div class="container">
        <a>2023 &copy; All Rights Reserved Anish Joshi</a>

        <span>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-instagram"></i></a>
          <a><i class="fab fa-youtube"></i></a>
          <a><i class="fab fa-facebook-f"></i></a>
          <a><i class="fab fa-linkedin"></i></a>
        </span>
      </div>
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="assets/js/script.js"></script>
</html>
